// - Almost White: hsl(0, 0%, 98%)
// - Medium Gray: hsl(0, 0%, 41%)
// - Almost Black: hsl(0, 0%, 8%)

$primary-clr: hsl(0, 0%, 98%);
$gry-clr: hsl(0, 0%, 41%);
$dark-clr: hsl(0, 0%, 8%);
$white: #fff;
