@use "./global" as g;
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap");

:root {
  -fs-p: 18px;
  -fs-h2: 54px;
  -fs-h2-test: clamp(28px, 10vw, 54px);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Epilogue", sans-serif;
  background: g.$primary-clr;
  color: g.$gry-clr;
}
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-weight: 700;
}
// h2 {
//   font-size: var(-fs-h2-test);
// }
p {
  font-size: var(-fs-p);
}
#root {
  overflow-x: hidden;
}
