@use "./mixin" as m;
.submenu {
  position: absolute;
  flex-direction: column;
  z-index: 1;
  top: 30px;
  right: 0;
  width: 130px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);

  li {
    width: 100%;
    margin: 0;
    padding: 10px;
    @include m.flex;
    justify-content: initial;
    .sub-icon {
      margin-right: 10px;
    }
  }
}
.company-sub {
  left: 0;
}

@media (max-width: 768px) {
  .submenu {
    width: 99%;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}
